<aside>
    <div class="row">
        <div>
            <h4><span>AbouT Jetro</span></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit non corrupti sapiente, maiores,
                est tenetur dolores, quisquam sunt obcaecati inventore itaque labore magnam deserunt, provident possimus
                laudantium enim vel cumque.</p>
        </div>
        <div>
            <h4><span>Categories</span></h4>
            <p><a href="#">Video (3)</a></p>
            <p><a href="#">Sports (5)</a></p>
            <p><a href="#">Media (2)</a></p>
            <p><a href="#">Entertainment (7)</a></p>
            <p><a href="#">Life (4)</a></p>
            <p><a href="#">Super Cool Stuff (8)</a>
        </div>
        <div class="photo_gallery">
            <h4><span>Photo Gallery</span></h4>
            <div>
                <div class="photo"></div>
                <div class="photo"></div>
                <div class="photo"></div>
                <div class="photo"></div>
                <div class="photo"></div>
                <div class="photo"></div>
                <div class="photo"></div>
                <div class="photo"></div>
            </div>
        </div>
    </div>
</aside>