<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="about_jetro">
                            <h4>About Jetro</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ab expedita ex. Ab
                                explicabo, commodi voluptates quis architecto quibusdam quia alias itaque similique
                                mollitia atque ipsa, dignissimos quae soluta eaque!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis laborum dolore a officiis
                                amet obcaecati cupiditate!</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="twitter_widget">
                            <h4>Twitter Widget</h4>
                            <p><span>@pixelmater</span> What an awesome design with great functionality :)</p>
                            <p><span>about 1 hour ago</span></p>
                            <p><span>@designdude</span> What an awesome design with great functionality :) </p>
                            <p><span>about 2 hour ago</span></p>
                            <p>Follow <span>@bestpsdfreebies</span></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact_us">
                            <h4>Contact Us</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ipsam debitis nobis iusto
                                eveniet!</p>
                            <p>information@jetro.com</p>
                            <p>1.222.333.4444</p>
                            <div class="soc_icons">
                                <a href="#"><img src="/img/soc_icons/facebook.png" alt="facebook"></a>
                                <a href="#"><img src="/img/soc_icons/twitter.png" alt="twitter"></a>
                                <a href="#"><img src="/img/soc_icons/email.png" alt="email"></a>
                                <a href="#"><img src="/img/soc_icons/rss.png" alt="rss"></a>
                                <a href="#"><img src="/img/soc_icons/vimeo.png" alt="vimeo"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>