<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    <a href="/"><span>jet</span><span>ro</span></a>
                    <% if (isLogged) { %>
                    <br><small class="user-name">Hello, <span><%- userName %></span>!</small>
                    <% } %>
                </h1>

                <button id="navigation" class="btn btn-warning">Navigation</button>
                <nav>
                    <a href="/">home</a>
                    <a href="/about">about us</a>
                    <a href="/blog">blog</a>
                    <a href="/portfolio">portfolio</a>
                    <a href="/contact">contact us</a>
                    <% if (isAdmin) { %>
                    <a href="/admin">admin panel</a>
                    <% } %>
                    <% if (isLogged) { %>
                    <a href="/login" class="loginButton">logout</a>
                    <% } else { %>
                    <a href="/login" class="loginButton">login</a>
                    <% } %>
                </nav>
            </div>
        </div>
    </div>
</header>