<% layout('/layout/page') %>
<% block('stylesheets', '<link href="css/title.css" rel="stylesheet">') %>
<% block('stylesheets', '<link href="css/aside.css" rel="stylesheet">') %>
<% block('stylesheets', '<link href="css/about.css" rel="stylesheet">') %>

<main>
    <%- partial('partials/title', {title: 'about us'}) %>
    <div class="container">
        <div class="col-md-9 co-sm-12">
            <div class="row">
                <section>
                    <div class="intro">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, voluptates at nulla
                            explicabo asperiores architecto adipisci voluptatum iusto corrupti, eveniet quia
                            accusantium? Possimus labore, nesciunt suscipit enim facere officiis consectetur!</p>
                    </div>
                    <div class="shortcode">
                        <div class="clearfix">
                            <img src="img/about.png" alt="about">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, praesentium. Dolore
                                cupiditate odit iste tempora, harum accusamus culpa. Exercitationem modi temporibus
                                voluptates natus, animi laudantium ullam deleniti cum quisquam amet? Lorem ipsum dolor
                                sit amet, consectetur adipisicing elit. Atque quidem rerum, natus, ducimus
                                necessitatibus blanditiis odio! Neque accusamus, est nostrum. Nam, culpa. A animi, quae
                                illum eveniet accusantium esse rerum. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Eius, corporis excepturi rerum recusandae beatae blanditiis
                                reprehenderit architecto laudantium ratione, a, dolor in dolorum aspernatur vero.
                                Doloremque voluptatum, harum quo aliquam? Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Soluta animi libero, ut sunt dolores id assumenda consequuntur
                                consectetur numquam?</p>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid libero quas cum impedit
                                quo at illo, eos ipsam tempora, rem alias ad vero cupiditate commodi soluta laboriosam
                                corrupti placeat accusantium? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aliquid libero quas cum impedit quo at illo, eos ipsam tempora, rem alias ad vero
                                cupiditate commodi soluta laboriosam corrupti placeat accusantium?</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat cupiditate odio
                                nesciunt voluptatem natus, similique officiis assumenda nisi deserunt necessitatibus
                                amet ipsam a aperiam dignissimos, animi recusandae odit cum fugiat. Lorem ipsum dolor
                                sit amet, consectetur adipisicing elit. Quaerat cupiditate odio nesciunt voluptatem
                                natus, similique officiis assumenda nisi deserunt necessitatibus amet ipsam a aperiam
                                dignissimos, animi recusandae odit cum fugiat.</p>
                        </div>
                        <div class="drop_caps">
                            <p><span>D</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ullam
                                nostrum cupiditate ut, nam laudantium. Magnam adipisci eligendi ratione, atque odit
                                recusandae quae minus, cumque reiciendis soluta obcaecati! Ad, molestias. Lorem ipsum
                                dolor sit amet, consectetur adipisicing elit. Natus fugit in aliquid voluptas molestiae
                                ad quasi quaerat sapiente libero accusantium, quos, laudantium expedita, iste totam.
                                Quas eum dolor sequi ipsa.</p>
                        </div>
                        <div class="quote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quo magnam ab officiis
                                nulla voluptas voluptatem exercitationem quas et recusandae, deleniti nobis, ad. Tenetur
                                fuga, sequi odio, explicabo porro quis? Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Ipsam officia id, ad esse mollitia fugiat! Quisquam esse laudantium,
                                dolores voluptatum, explicabo, sed quod eum neque amet porro nostrum, dignissimos
                                fuga.</p>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio dolor repellat
                                        facilis consectetur modi commodi totam quod. Possimus fugiat amet delectus totam
                                        asperiores dolorum dolorem, tenetur id, illo modi error.</p>
                                </div>
                                <div class="col-md-6">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio nihil iusto
                                        suscipit eum ipsam omnis perferendis voluptate, mollitia, fugiat impedit, aut!
                                        Itaque, dolorum quos repudiandae aut cum! Magnam, laudantium, quis.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto vero enim,
                                        eius ea modi necessitatibus nisi odit cupiditate facilis obcaecati error itaque
                                        hic.</p>
                                </div>
                                <div class="col-md-4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque velit fugiat
                                        veritatis optio impedit, quisquam, eos possimus tempora recusandae animi
                                        totam.</p>
                                </div>
                                <div class="col-md-4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis at maiores,
                                        distinctio, neque commodi, veniam sint ipsum consequuntur, repudiandae?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <%- partial('partials/aside') %>
        </div>
    </div>
</main>
