<article class="post-link">
    <h3><a href="/blog/<%= post._id %>"><%= post.header %></a></h3>
    <span><%= post.link %></span>
    <p><%= post.text %></p>
    <div class="post_icon"></div>
</article>